<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="tabs"></ion-back-button>
      <ion-item slot="start" padding-start="0">
        <ion-avatar>
          <img src="http://localhost/smartchat_api/img/{{ getCurrentFriend.avatar }}"/>
        </ion-avatar>
      </ion-item>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let chat of chats">
      <ion-badge color="{{getCurrentFriend.id === chat.m_sender ? 'tertiary' : 'light'}}" style="padding:10px 15px;" slot="{{ getCurrentFriend.id === chat.m_sender ? 'start' : 'end'}}">
        {{ chat.m_content }}
      </ion-badge>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
    <ion-toolbar>
      <ion-input type="text" name="msgArea" placeholder="Type your message here..." color="light"></ion-input>
    </ion-toolbar>
</ion-footer>
