<ion-content>
    <ion-list>
        <ion-item *ngFor="let chat of chats">
            <ion-avatar slot="start">
                <img src="http://localhost/smartchat_api/img/{{chat.user.avatar}}">
            </ion-avatar>
            <ion-label (click)="chatInfos(chat.user)">
                <ion-label class="text-bold" color="light">{{chat.user.name}}</ion-label>
                <p class="text-muted">{{chat.m_content}}</p>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>